  
  <!-- formulaire de recherche-->
  <form class="search-field" ng-submit="findSize()">
    <div class="search-float">
      <Label>Taille : <input type="text" placeholder='cm' name="userHeight" ng-model='userHeight' required> </Label>
      <Label>Poids :  <input type="text" placeholder='kg' name="userWeight" ng-model='userWeight' required> </Label>
      <Label >Sexe :  
        <select required ng-change="updateForm()" ng-model='userSexe' ng-options='option.value as option.name for option in sexe'></select>
      </Label>
      <p>la bonne taille est {{size}}</p>
    </div>
    
    <div>
      <!--<Label>Morphologie :</Label>
        <ul class="results-list">
          <li ng-repeat='morpho in morphos.value'>
            <img src="{{morpho.url}}" ng-model="morphos.selected">
            <p class="title"> {{morpho.name}}</p>
          </li>
        </ul>-->
    </div>
    <input type="submit" value="Find">
  </form>

  

  <!-- style a mettre dans le css
 
  de plus mettre un entete pour un filtre-->
  <div style="float: left; margin: 20px auto; width:150px" class="list-filter">
    
  </div> 
  <div style="width: 70%; margin-left:250px ;margin-top: 20px ;" >
    <!-- entete -->
    <div class="list-filter">
      <div class="btn-group">
        <button ng-disabled="thumbSize == 'small'" ng-click="setThumbSize('small')">Small</button>
        <button ng-disabled="thumbSize == 'large'" ng-click="setThumbSize('large')">Large</button>
      </div>
    </div>
    <!--list of product-->
    <ul class="results-list" ng-class="thumbSize + '-thumbs'">
      <li ng-repeat='combi in combi | filter:filter | orderBy:orderProp'>
        <a href="#/combinaisons/{{combi.title}}"><img ng-src="{{combi.thumbUrl}}"/></a>
        <p class="title">{{combi.title}}</p>
        <p class="subTitle">Taille : {{combi.size}}</p>
      </li>
    </ul>
  </div>